/* Navigation bar */
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-bottom: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #d4d4d4;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Button container */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .button-container button {
    padding: 10px 20px;
    font-size: 24px;
    background-color: black;
    color: #53de3d;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button-container button:hover {
    background-color: white;
    color: #333;
    border: 1px solid #333;
  }
  
  /* Navigation */
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .nav-item {
    width: 300px;
    height: 200px;
    margin: 20px;
    background-color: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .nav-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #53de3d;
    border-left: 50px solid transparent;
    transition: all 0.3s ease;
  }
  
  .nav-item:hover:before {
    width: 25%;
    height: 100%;
  }
  
  .nav-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav-item:hover a {
    color: #0d0d0d;
  }
  
  /* Clock */
  #clock {
    color: #f1071a;
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 24px;
    text-align: top;
  }
  .nav-item button {
    background-color: #a0af9e;
    background-position: center;
    border: solid whitesmoke;
    border-radius: 20px;
    align-content: center;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }
  .navbar {
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar p {
    color: #53de3d;
    font: size 500px;
}

.navbar a {
    float: right;
    display: block;
    color: #53de3d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a[href="#About"] {
    margin-left:75%;
}
body
{
    margin: 0;
    padding: 0;
} 
  